NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEXT_PUBLIC_SUPABASE_LISTING_BUCKET=listing-media
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=
PICPAY_CLIENT_ID=
PICPAY_CLIENT_SECRET=
PICPAY_WEBHOOK_TOKEN=
PICPAY_CHECKOUT_BASE_URL=https://checkout-api.picpay.com
PICPAY_PIX_BASE_URL=https://checkout-api.picpay.com
PICPAY_AUTH_BASE_URL=https://checkout-api.picpay.com
PICPAY_CALLER_ORIGIN=campus
